<div class="hero">
  <h1>Coming <span>Soon</span></h1>
  <p>our website is under construction, follow us for update now!</p>
  <div class="time">
    <span>
      <div class="x">{{days}}</div>
      <div class="blue">Days</div>
    </span>
    <span>
      <div class="x">{{hours}}</div>
      <div class="blue">Hours</div>
    </span>
    <span>
      <div class="x">{{minutes}}</div>
      <div class="blue">Minutes</div>
    </span>
    <span>
      <div class="x">{{seconds}}</div>
      <div class="blue">Seconds</div>
    </span>
  </div>
  <form class="sub" action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="c80e4cf9-7306-49e2-b512-3a78e05041b2">
    <input type="email" name="email" placeholder="Enter Email Address" required>
    <button type="submit">subscribe</button>
  </form>
</div>